aws_region = "ap-south-1"
project_name = "ai-devsecops"
environment = "dev"
vpc_cidr = "10.20.0.0/16"
availability_zones = ["ap-south-1a", "ap-south-1b"]
public_subnet_cidrs = ["10.20.1.0/24", "10.20.2.0/24"]
private_subnet_cidrs = ["10.20.11.0/24", "10.20.12.0/24"]
single_nat_gateway = true
eks_cluster_version = "1.35"
eks_public_endpoint = false
eks_admin_principal_arn = "arn:aws:iam::123456789012:role/DevSecOps-EKS-Admin"
